nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(48, 47, 47);
    color: white;
    padding: 10px 0px;
}

.left p{
    margin-top: 15px;
    cursor: pointer;
}

.left{
    display: flex;
}

.left img{
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 30px;
}

.right{
    display: flex;
}

.right .l{
    margin: 15px 20px;
    cursor: pointer;
}